= semantic_form_for [:admin, @bundle], :html => { :multipart => true } do |f|
  = f.inputs "Bundle Details" do
    = f.input :status, :as => :radio, :collection => Bundle::STATUSES
    - if f.object.new_record?
      = f.input :charity
    - else
      %li
        %label
          Charity
        = text_field_tag :charity, f.object.charity.name, :disabled => true
    = f.input :donation_value
    = f.input :name
    = f.input :tagline
    = f.input :notes
    = f.input :image, :as => :file
    = f.input :remote_image_url, :label => "or Remote Image URL"

  - unless f.object.new_record?
    = f.inputs "Bundle offers" do
      %li.check_boxes
        %fieldset.choices
          = hidden_field_tag "bundle[offer_ids][]"
          %legend.label
            %label
              Offers
          %ol#offers_list.choices-group
            - f.object.offers.each do |offer|
              = render 'offer', :offer => offer
      %li.string
        %label
          &nbsp;
        = hidden_field_tag :new_merchant_id
        = autocomplete_field_tag 'new_offer_text', '',
            autocomplete_merchant_name_admin_bundles_path,
            :size => 50, :style => 'width: 20%', :id_element => '#new_merchant_id'
        = button_tag 'Add', id: 'add_offer_button'
  = f.actions
